* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: #e4dede;
    background-color: #1d1515;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 10%;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #44e324;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

.menu-toggle span {
    background: #fff;
    height: 3px;
    width: 25px;
    transition: all 0.3s;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #1d1515;
}

.home_content {
    max-width: 600px;
}

.home_content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .4s;
}

.home_content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

.home_content h3 span {
    color: #44e324;
}

.home img {
    opacity: 0;
    border: 5px solid #44e324;
    border-radius: 50%;
    animation: slideImage 1s ease forwards;
    animation-delay: .8s;
}

.home img:hover {
    box-shadow: 0 0 5px #44e324,
        0 0 10px #44e324;
}

.home_content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: 1s;
}

.home_content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    line-height: 30px;
    letter-spacing: 2px;
}

.home_connect a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #44e324;
    border-radius: 50%;
    font-size: 20px;
    color: #44e324;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home_connect a:hover {
    background: #44e324;
    color: #000000;
    box-shadow: 0 0 40px #44e324;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #44e324;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #44e324,
        0 0 10px #44e324;
    transition: .5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 5px #44e324,
        0 0 20px #44e324,
        0 0 50px #44e324;
}

.section_title {
    text-align: center;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.section_title span {
    color: #44e324;
}

.skills {
    text-align: center;
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 10px 80px;
    margin-left: 60px;
}

.container1 .bar .info img {
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    text-decoration-color: #d8bfbf;
}

.bar {
    font-size: 25px;
}

.technical_bars .bar {
    margin-top: 40px 0;
}

.technical_bars .bar:first-child {
    margin-top: 0;
}

.technical_bars .bar:last-child {
    margin-bottom: 0;
}

.technical_bars .bar .info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.technical_bars .bar .info span {
    margin-top: 26px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    background-color: #000000;
    border-radius: 12px;
    padding: 1px 8px;
}

.technical_bars .bar .line {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 6px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.technical_bars .bar .line span {
    display: flex;
    height: 100%;
    background-color: #44e324;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.line.python span {
    width: 90%;
}

.line.java span {
    width: 80%;
}

.line.cpp span {
    width: 40%;
}

.line.r span {
    width: 60%;
}

.line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.line.python span::after {
    content: '90%';
}

.line.java span::after {
    content: '80%';
}

.line.cpp span::after {
    content: '40%';
}

.line.r span::after {
    content: '60%';
}

.line span::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000000;
    top: -20px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.professional_bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.professional_bars .radial_bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.professional_bars .radial_bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 100px;
}

.professional_bars .radial_bar .progress_bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #44e324;
    fill: transparent;
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

.path.path1 {
    animation: animate-path1 1s linear forwards;
}

.path.path2 {
    animation: animate-path2 1s linear forwards;
}

.path.path3 {
    animation: animate-path3 1s linear forwards;
}

.path.path4 {
    animation: animate-path4 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 56;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 169;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 56;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 84;
    }
}

.radial_bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: #44e324;
}

.radial_bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.framework_used {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.framework_used .set1 {
    width: 50%;
    margin: 2px 0;
}

.framework_used .set1 .framework {
    width: 80%;
    height: 80%;
    border: 2px solid #44e324;
    padding: 30px;
    margin: 25px 0 50px 0;
    border-radius: 24px;
    cursor: grabbing;
    position: relative;
}

.framework_used .set1 .framework img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.framework_used .set1 .framework .info span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.framework_used .set1 .framework:hover {
    background: #000000;
    box-shadow: 0 0 1px #44e324;
}

.framework_used .set1 .framework:hover img {
    border: 2px solid #44e324;
    background-color: black;
    border-radius: 18px;
    width: 60px;
    height: 60px;
    padding: 1px 8px;
    box-shadow: 0 0 10px #44e324;
}

.framework_used .set1 .framework:hover .info span {
    color: #ffffff;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.softwares_used {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 60px;
}

.softwares_used .software {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.softwares_used .software .info {
    display: inline-flex;
    width: 100%;
    margin: 6px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    border: 2px solid #44e324;
    align-items: center;
    text-indent: 100px;
    border-radius: 18px;
    cursor: grabbing;
}

.softwares_used .software .info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.softwares_used .software .info span {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
}

.softwares_used .software .info:hover {
    background: #000000;
    box-shadow: 0 0 10px #44e324;
}

.projects {
    text-align: center;
    padding: 60px 0 20px 0;
    background-color: #1d1515;
    color: #e4dede;
}

.projects h2 {
    padding-top: 1px;
}

.custom_select {
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.selected_value {
    width: 25%;
    padding: 10px;
    border: 2px solid #44e324;
    border-radius: 16px;
    cursor: pointer;
}

.selected_value i {
    margin-left: 10px;
}

.fa-caret-down {
    transition: transform ease;
}

.rotated {
    transform: rotate(180deg);
}


.custom_options {
    display: none;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid #44e324;
    background-color: black;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 110%;
    z-index: 1;
}

.custom_options::-webkit-scrollbar {
    width: 8px;
}

.custom_options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
}

.custom_options::-webkit-scrollbar-thumb {
    background: #44e324;
    border-radius: 16px;
}

.custom_option {
    padding: 10px;
    cursor: pointer;
}

.custom_option:hover {
    border-radius: 16px;
    background: rgba(68, 227, 36, 0.7);
}

.projects_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    margin-top: 50px;
    scrollbar-width: thin;
    scrollbar-color: #44e324 #1d1515;
}

.no-projects-message {
    width: 100%;
    background-color: #000;
    text-align: center;
    margin-top: 60px;
    font-size: 38px;
    background: linear-gradient(45deg, #44e324, #974e35, #ff0099);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #44e324;
}

.projects_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.projects_container::-webkit-scrollbar-thumb {
    background-color: #44e324;
    border-radius: 10px;
}

.project {
    min-width: 360px;
    width: calc(100% - 20px);
    max-width: 100%;
    margin: 10px;
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color .3s ease, transform .3s ease;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project_info {
    padding: 25px;
}

.project_info h3 {
    margin: 12px 0;
    font-size: 22px;
    color: #44e324;
}

.project_info p {
    font-size: 14px;
    color: #ccc;
}

.project_info a {
    border: 2px solid #44e324;
    padding: 8px 10px;
    border-radius: 40px;
}

.project_info a span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.project_info a .bx {
    vertical-align: middle;
    margin-left: 5px;
}

.project a {
    display: inline-block;
    margin-top: 16px;
    color: #44e324;
    text-decoration: none;
}

.project a i {
    color: #44e324;
}

.project:hover {
    background-color: #000000;
    transform: translateY(-10px);
}

.project:hover a {
    border: 2px solid #44e324;
}

.project a:hover {
    background-color: #44e324;
    color: #000000;
    box-shadow: 0 0 5px #44e324,
        0 0 10px #44e324,
        0 0 20px #44e324;
}

.project a:hover .bx {
    color: #000000;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 40px;
}

.contact_page h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
    text-align: left;
    padding-top: 160px;
}

.contact_page h4 {
    margin: 15px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.contact_page p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact_container {
    margin-bottom: 3rem;
}

.contact_container li {
    margin-bottom: 10px;
    display: block;
}

.contact_ways i {
    display: inline-block;
    color: #44e324;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact_container .contact_ways li:hover {
    transform: scale(1.5), translateY(-5px);
    color: #44e324;
}

.contact_container .contact_icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #44e324;
    border-radius: 50%;
    font-size: 20px;
    color: #44e324;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact_icons i:hover {
    background: #44e324;
    color: #000000;
    box-shadow: 0 0 20px #44e324;
}

.connect_form form {
    position: relative;
    padding-top: 100px;
}

.connect_form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 15px;
    background: #555557;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}


.connect_form textarea {
    resize: none;
    height: 220px;
}

.connect_form form .send {
    display: inline-block;
    padding: 12px 20px;
    background: #44e324;
    border-radius: 40px;
    font-size: 16px;
    color: #1d1515;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.6s;
    box-shadow: 0 0 5px #44e324,
        0 0 25px #44e324;
    cursor: pointer;
}

.connect_form form .send:hover {
    box-shadow: 0 0 5px #44e324,
        0 0 20px #44e324,
        0 0 50px #44e324;
}

.about {
    padding: 80px 0;
    background-color: #1d1515;
    color: #e4dede;
    text-align: center;
    padding-top: 20px;
}

.about_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.about_content {
    text-align: center;
    width: 300px;
    height: 400px;
}

.about_content h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    color: #44e324;
}

.about_content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: .8px;
}

.about_content p i {
    text-decoration: underline;
    color: #13c8ad;
}

.about_img {
    position: relative;
    width: 200px;
    height: 400px;
    border-radius: 50%;
}

.about_img img {
    max-width: 100%;
    height: 400px;
    display: block;
    border: 5px solid #44e324;
    border-radius: 50%;
}

.about_img img:hover {
    box-shadow: 0 0 5px #44e324,
        0 0 10px #44e324;
}

footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #000000;
    font-weight: 600;
    margin-top: 70px;
    align-items: start;
    position: relative;
}

footer .top {
    position: absolute;
    bottom: 2.5rem;
    left: 6%;
    top: 26%;
    transform: translateY(-50%);
}

footer i {
    color: red;
}

footer .top i {
    color: #000;
    background: #44e324;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideImage {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 5px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -5px;
}

@media (max-width: 1200px) {
    .home_content h1 {
        font-size: 40px;
    }

    .home_content p {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5%;
    }

    .navbar a {
        margin: 5px 0;
    }

    .home {
        flex-direction: column;
        align-items: flex-start;
    }

    .home_content {
        height: 300px;
    }

    .home img {
        height: 240px;
        align-self: flex-end;
    }

    .home_content h1 {
        font-size: 20px;
    }

    .home_content p {
        font-size: 12px;
        line-height: 20px;
    }

    .skills_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills_container .container1 .technical_bars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills_container .container1 .technical_bars .bar {
        width: 80%;
    }

    .framework_used .set1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .softwares_used {
        display: flex;
        align-items: center;
    }

    .softwares_used .software {
        width: 80%;
    }

    .softwares_used .software .info {
        display: flex;
        justify-content: space-around;
    }

    .softwares_used .software .info span {
        margin-right: 40px;
    }

    .custom_select {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .selected_value {
        width: 90%;
        margin-top: 40px;
    }

    .custom_options {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .header {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .header a {
        margin-left: 14px;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #44e324;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .menu-toggle i {
        font-size: 20px;
        color: #000000;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #000000;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }

    .navbar.active {
        display: flex;
    }

    .home {
        padding: 70px 5%;
    }

    .home_content h1 {
        font-size: 70px;
    }

    .home_content h3:first-child {
        padding-top: 60px;
    }

    .home_content h3 {
        font-size: 16px;
    }

    .home_content p {
        font-size: 14px;
    }

    .btn-box {
        padding: 10px 15px;
        font-size: 14px;
    }

    .section_title {
        font-size: 60px;
    }

    .skills_container {
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }
}

@media (max-width: 576px) {

    .header {
        padding: 10px 2%;
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 2%;
    }

    .home img {
        margin-top: 90px;
        align-self: center;
        width: 300px;
        height: 300px;
    }

    .home_content h1 {
        font-size: 22px;
        line-height: 1.8;
    }

    .home_content p {
        font-size: 8px;
        letter-spacing: .4px;
        line-height: 12px;
    }

    .btn-box {
        padding: 8px 10px;
        font-size: 12px;
    }

    .section_title {
        font-size: 40px;
    }

    .skills_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills_container .container1 .technical_bars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills_container .container1 .technical_bars .bar {
        width: 80%;
    }

    .skills_container .container1 .professional_bars {
        margin-left: -5px;
    }

    .skills_container .container1 .professional_bars .radial_bar .text {
        font-size: 14px;
    }

    .skills_container .container1 .framework_used {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills_container .container1 .framework_used .set1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .skills_container .container1 .framework_used .set1 .framework {
        width: 80%;
        height: 120px;
    }

    .skills_container .container1 .framework_used .set1 .framework .info span {
        font-size: 8px;
    }

    .skills_container .container1 .softwares_used {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills_container .container1 .softwares_used .software {
        width: 80%;
    }

    .framework_used .set1 .framework:hover {
        font-size: 8px;
    }

    .softwares_used {
        width: 100%;
    }

    .softwares_used .software .info span {
        font-size: 12px;
    }

    .projects_container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        min-width: 80%;
        max-width: 100%;
    }

    .contact {
        margin-top: -40px;
        display: flex;
        padding-left: 10px;
    }

    .contact_page h2 {
        font-size: 40px;
    }

    .contact_page h4 {
        font-size: 20px;
    }

    .contact_page p {
        font-size: 12px;
        line-height: 1.5;
    }

    .contact_container {
        width: 120%;
    }

    .contact_container .contact_ways li i {
        font-size: 10px;
    }

    .contact_container .contact_ways li {
        font-size: 10px;
    }

    .contact_container .contact_icons {
        display: flex;
    }

    .contact_container .contact_icons i {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}
